@inject IOptionsSnapshot<BlogSettings> settings
@inject WebManifest manifest
@{
    var host = Context.Request.Scheme + "://" + Context.Request.Host;
}

<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@ViewData["Description"]" />

    <link rel="preload" href="~/js/site.js" as="script" />
    <link rel="preload" href="~/css/belowthefold-mozcode.scss" as="style" />
    <noscript><link rel="stylesheet" href="~/css/belowthefold-mozcode.scss" /></noscript>
    @RenderSection("Preload", required: false)
    <link rel="stylesheet" href="~/css/abovethefold-mozcode.scss" inline />

    <meta property="og:type" content="article" />
    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:description" content="@ViewData["Description"]" />
    <meta property="og:url" content="@(host + Context.Request.Path)" />
    <meta property="og:image" content="@host/img/icon512x512.png" />
    <meta property="og:image:width" content="512" />
    <meta property="og:image:height" content="512" />

    <meta name="msapplication-square150x150logo" content="~/img/icon180x180.png" />

    <link rel="icon" type="image/png" sizes="16x16" href="~/img/icon16x16.png" />
    <link rel="apple-touch-icon" href="~/img/icon180x180.png" />
    <link rel="shortcut icon" href="~/img/icon16x16.png" />

    <link rel="edituri" type="application/rsd+xml" title="RSD" href="~/rsd.xml" />
    <link rel="alternate" type="application/rss+xml" href="~/feed/rss/" />
    <link rel="alternate" type="application/atom+xml" href="~/feed/atom/" />
    <link rel="stylesheet" href="~/css/highlight/dracula.css" />
    @RenderSection("Head", required: false)
</head>
<body itemscope itemtype="http://schema.org/WebPage">
    <div class="header-banner"></div>
    <div style="width: 145px;position: absolute;left: 0;right: 0;margin-left: auto;margin-right: auto;margin-top: 17px"><img src="~/img/jordi.png" alt="Jordi" /></div>
    <header class="siteheader">
        <div class="container">
            <div style="float: left;top: 120px; left: 0px; position: relative">
                <img style="width: 40px; float: left;margin-left: -4px" src="~/img/icon180x180.png" alt="logo" />
                <p itemprop="name" style="font-weight: bold"><a href="~/">@manifest.ShortName</a></p>
                <span itemprop="author">@settings.Value.Owner</span>
            </div>
            <div style="float: right; top: 138px; position: relative">
                <ul class="social-navigation-menu">
                    <li>
                        <a href="https://twitter.com/jordimoz" target="_blank"><i class="b1-icon-social-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/jordimoz" target="_blank"><i class="b1-icon-social-instagram"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/jordiarquimbau/" target="_blank"><i class="b1-icon-social-linkedin"></i></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCbp95XP-0KUMjop_3z28wCw" target="_blank"><i class="b1-icon-social-youtube"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/Jordiag" target="_blank"><i class="b1-icon-social-github"></i></a>
                    </li>
                    <li>
                        <a href="/rss" target="_blank"><i class="b1-icon-social-rss"></i></a>
                    </li>
                </ul>
            </div>
            <div class="menu-bar" style="float: right; top: 144px; position: relative">
                <nav>
                    <ul><li>Blog</li><li>About<li>Chanlabs</li></ul>
                </nav>
            </div>
        </div>
    </header>
    <div style="margin: auto; width: 700px; height: 1px; background-color: #cccccc"></div>
    <main itemprop="mainEntity" itemscope itemtype="http://schema.org/Blog">
        <noscript>
            <p class="container">Some features of this website do not work as expected when JavaScript is disabled</p>
        </noscript>
        @RenderBody()
    </main>

    <footer class="sitefooter">
        <div class="container">
            <p>
                &copy; 2019 Jordi Arquimbau - Blog | Handmade from London, UK | Powered by a <a href="https://github.com/Jordiag/Miniblog.Core" rel="noopener noreferrer" target="_blank">forked version</a> of <a href="https://github.com/madskristensen/Miniblog.Core" rel="noopener noreferrer" target="_blank">Miniblog.Core</a>
            </p>
        </div>
    </footer>

    <!-- This lazy loads the stylesheet in a non-render blocking way -->
    <link rel="preload" href="~/css/belowthefold-mozcode.scss" as="style" />
    <noscript><link rel="stylesheet" href="~/css/belowthefold-mozcode.scss" /></noscript>

    <script src="~/js/site.js" async defer></script>
    <script src="~/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    @RenderSection("Scripts", required: false)
</body>
</html>
